
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #1d1c22;
  --main-text-color: #e6e6e6;

  --secondary-bg-color: #393c44;
  --secondary2-bg-color: #352c25;
  
  --main-shadow-color: #680747;
  --secondary-color-light: #54A4AF;
  --chart-color: #f7bb0d;
  --secondary-color2-light: #AA96B7;
}

.default-theme {
  --main-font: "M PLUS Rounded 1c", sans-serif;
  --main-bg-color: linear-gradient(0deg , #000000, #333333 100.00%);
  --main-text-color: #e6e6e6;

  --main-shadow-color: #680747;

  --secondary-bg-color: #28272f;

  --chart-color: #f7bb0d;

  --block-tag-text-color: #1d1c22;
  --block-tag-bg-color: #f7bb0d;
}

.dev1-theme {
  --main-font: "M PLUS Rounded 1c", sans-serif;
  --main-bg-color: #2C3639;
  --main-text-color: #DCD7C9;

  --main-shadow-color: #000;

  --secondary-bg-color: #3F4E4F;

  --chart-color: #A27B5C;

  --block-tag-text-color: #1d1c22;
  --block-tag-bg-color: #f7bb0d;
}

.cuberpunk-theme {
  --main-font: "Orbitron", sans-serif;
  --main-bg-color: #2C3639;
  --main-text-color: #DCD7C9;

  --main-shadow-color: #000;

  --secondary-bg-color: #3F4E4F;

  --chart-color: #A27B5C;

  --block-tag-text-color: #1d1c22;
  --block-tag-bg-color: #f7bb0d;
}

.bg-main {
  background: var(--main-bg-color);
}

.bg-secondary {
  background: var(--secondary-bg-color);
}

.text-main-color {
  color: var(--main-text-color);
}

.text-color-main {
  background: var(--main-bg-color);
}

.block-tag {
  background: var(--block-tag-bg-color);
  color: var(--block-tag-text-color);
}

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
}

#app {
  padding: 0px;
  margin: 0;
  max-width: 600px;
  margin: 0 auto;
}

.tabs-custom {
  --n-color-segment: #50727B !important;
  --n-tab-padding: 6px 4px !important;

}

.tabs-custom .n-tabs-tab__label {
  white-space: normal;
  text-align: center;
}

.tabs-custom .n-tabs-rail .n-tabs-tab-wrapper {
  height: 100%;
}

.tabs-custom .n-tabs-tab-pad {
  height: 100%;
}

.tabs-custom  .n-tabs-rail .n-tabs-tab-wrapper .n-tabs-tab {
  height: 100%;
}

.tabs-custom1.none-tab .n-tabs-nav {
  display: none;
}

.tabs-custom .n-tabs-nav {
  display: flex !important;
}


.tabs-custom1 {
  --n-color-segment: #2e3337 !important;
  --n-tab-padding: 6px 4px !important;
  --n-tab-border-radius: 12px !important;
  --n-tab-text-color: #fff !important;
  --n-tab-text-color-active: #fff !important;
  --n-tab-font-size: 15px !important;
  --n-tab-color-segment: #4f607e !important;
  --n-tab-text-color-hover: #fff !important;

}

.tabs-custom1.custom-bg-1 {
  --n-color-segment: #2e333700 !important;
  --n-tab-color-segment: #662549 !important;
}

.tabs-custom1 .n-tabs-tab__label {
  white-space: normal;
  text-align: center;
}

.tabs-custom1 .n-tabs-rail .n-tabs-tab-wrapper {
  height: 100%;
}

.tabs-custom1 .n-tabs-tab-pad {
  height: 100%;
}

.tabs-custom1 .n-tabs-rail {
  height: 54px;
}

.tabs-custom1 .n-tabs-rail .n-tabs-tab-wrapper .n-tabs-tab {
  height: 100%;
}

.n-base-selection {
  --n-height: 50px !important;
  --n-font-size: 16px !important;
  --n-text-color: rgb(230 230 230) !important;
  --n-text-color-disabled: rgb(230 230 230) !important;
  --n-color: rgb(34 34 34) !important;
  --n-color-active: rgb(34 34 34) !important;
  --n-color-disabled: rgb(34 34 34) !important;
  --n-border: 1px solid rgb(34 34 34) !important;
  --n-border-active: 1px solid rgb(34 34 34) !important;
  --n-border-focus: 1px solid rgb(34 34 34) !important;
  --n-border-hover: 1px solid rgb(34 34 34) !important;
  border-radius: 16px;
}

.n-base-select-menu {
  --n-color: rgb(34 34 34) !important;
  --n-option-check-color: rgb(34 34 34) !important;
  --n-option-color-pending: rgb(34 34 34) !important;
  --n-option-color-active: rgb(34 34 34) !important;
  --n-option-color-active-pending: rgb(34 34 34) !important;
  --n-option-text-color: rgb(230 230 230) !important;
  --n-option-text-color-active: rgb(230 230 230) !important;
  --n-option-text-color-disabled: rgb(230 230 230) !important;
  --n-option-text-color-pressed: rgb(230 230 230) !important;
  --n-border-radius: 4px !important;
  --n-option-height: 40px !important;
}